/*		Default Layout: 1080px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.mainweb{
	width:1080px;
	margin:0 auto;
}
#selectnav1{
	display:none;
}




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 1080px) {
	
.mainweb{
	width:100%;
}
#responsive_menu{
	display:none;
}
#selectnav1{
	display:block;
	float:right;
}
#menu_wrapper {
  width: 100%;
  padding: 0;
}
#nav_logo {
  width: 40%;
  height:40%;
  float: left;
  margin-right:0;
}
#nav_logo img {
  width: 40%;
  height:40%;
}
#nav_menu {
  width: 60%;
  float: left;
  margin-top: 5%;
}
#fast_content {
	width: 100%;
	text-align: center;
}
#social_icon{
	display: none;
}
#right_image {
	width: 100%;
	height: auto;
}
#right_image img {
	width: 100%;
	height: auto;
	margin-top:-18%;
}
#bottom_image img {
	width: 5%;
	padding:8%;
}
#colum {
	width: 100%;
	margin-left: 1%;
	margin-bottom: 6%;
	text-align: center;
}
#colum img{
	margin-left:30%;
}
#my_image img {
	width: 100%;
}
#about_section p{
	width: 100%;
	margin:0 auto;
}
#third_left h2{
	text-align: center;
	margin-bottom:2%;
	margin-left:9%;
}
#right_button button{
	margin-left:30%;
}
#forth_section h1{
	text-align:center;
}
#forth_section p {
	width: 60%;
	text-align:center;
}
#forth_section button{
	margin-left:35%;
}
#fiveth_image img {
	width: 100%;
}
#fiveth_right {
	width: 100%;
	text-align:center;
}
#sixth_left{
	width: 50%;
	float:left;
}
#sixth_image img{
	width: 47%;
	float:left;
}
#seven_image img{
	width: 50%;
	float:left;
}
#seven_right{
	width: 47%;
	text-align:center;
}
#eight_left{
	width: 95%;
	text-align:center;
}
#eight_image img{
	width: 50%;
	margin-top:-2%;
	margin-left:25%;
}
#section_button button{
	width: 50%;
	margin-left:26%;
}
#nine_left{
	width:100%;
	text-align:center;
}
#nine_rightvideo video{
	width:100%;
	padding:0%;
}
#contact_page img{
	width: 50%;
}
#contact_form{
	width: 45%;
	margin-left:3%;
}

}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.mainweb{
	width:100%;
}
#responsive_menu{
	display:none;
}
#selectnav1{
	display:block;
	float:right;
}
#menu_wrapper {
  width: 100%;
  padding: 0;
}
#nav_logo {
  width: 40%;
  height:40%;
  float: left;
  margin-right:0;
}
#nav_logo img {
  width: 40%;
  height:40%;
}
#nav_menu {
  width: 60%;
  float: left;
  margin-top: 5%;
}
#fast_content {
	width: 100%;
	text-align: center;
	margin-bottom:10%;
}
#social_icon{
	display: none;
}
.jump_link{
	display: none;
}
#right_image {
	width: 70%;
	height: auto;
}
#right_image img {
	width: 100%;
	height: auto;
	margin-top:-50%;
	margin-left:20%;
}
#bottom_image img {
	width: 10%;
	padding:0%;
}
#colum {
	width: 100%;
	margin-left: 1%;
	margin-bottom: 6%;
	text-align: center;
}
#colum img{
	margin-left:30%;
}
#my_image img {
	width: 60%;
	margin-left:20%;
	margin-top:-50%;
}
#about_section h2{
	font-size:59%;
}
#about_section p{
	width: 90%;
	margin-left:7%;
}
#third_left h2{
	width: 100%;
	text-align: center;
	margin-bottom:9%;
	margin-left:3%;
	margin-top:-10%;
}
#right_button button{
	width: 62%;
	margin-left:20%;
}
#parcentiz_content h1 {
	font-size: 70%;
}
#forth_section h1{
	width: 96%;	
}
#forth_section p{
	width: 90%;
}
#forth_section button{
	display:none;
}
#fiveth_image img{
	width: 100%;
	margin-top:-10%;
}
#fiveth_right{
	width: 100%;
}
#fiveth_right button{
	width: 32%;
}
#sixth_left{
	width: 100%;
}	
#sixth_left button{
	width: 32%;
}
#sixth_image img {
	width: 42%;
	margin-top: -20%;
	margin-left: 60%;
}
#seven_image img{
	display:none;
}
#seven_right {
	width: 80%;
	margin-left: 8%;
	margin-top:-27%;
}
#seven_right button {
  width: 40%;
  margin-left: 72%;
}
#eight_left{
	width: 80%;
	margin-top:-27%;
}
#eight_image img{
	display:none;
}
#section_button{
	width: 100%;
}
#section_button button {
  width: 70%;
  margin-left: 5%;
}
#nine_head{
	width: 70%;
	font-size:70%;
}
#nine_left{
	width: 100%;
	font-size:70%;
}
#nine_rightvideo video{
	width: 100%;
	padding:0%;
}
#contact_page img{
	display:none;
}
#contact_form {
	width: 97%;
	margin-left: 1%;
}
#ten_section button{
	width: 90%;
}
#footer_section img{
	width: 20%;
}
#footer_section p{
	margin-top:5%;
}



}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {


.mainweb{
	width:100%;
}
#responsive_menu{
	display:none;
}
#selectnav1{
	display:block;
	float:right;
}
#menu_wrapper {
  width: 100%;
  padding: 0;
}
#nav_logo {
  width: 40%;
  height:40%;
  float: left;
  margin-right:0;
}
#nav_logo img {
  width: 40%;
  height:40%;
}
#nav_menu {
  width: 60%;
  float: left;
  margin-top: 5%;
}
#bottom_image img:first-child {
	padding-left: 10px;
	padding: 4%;
}
#bottom_image img {
	width: 10%;
	padding: 4%;
}	
#right_image img{
	margin-top: -40%;
}
#my_image img{
	margin-top: -22%;
}
#third_left h2{
	margin-top: -7%;
}
#right_button button{
	display:none;
}
#seven_right{
	margin-top: -10%;
}
#eight_left{
	margin-top: -14%;
}
#nine_head {
	width: 80%;
	font-size: 80%;
}
#nine_rightvideo video {
	width: 100%;
	padding: 0%;
}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
.mainweb{
	width:100%;
}
#responsive_menu{
	display:none;
}
#selectnav1{
	display:block;
	float:right;
}
#menu_wrapper {
  width: 100%;
  padding: 0;
}
#nav_logo {
  width: 40%;
  height:40%;
  float: left;
  margin-right:0;
}
#nav_logo img {
  width: 40%;
  height:40%;
}
#nav_menu {
  width: 60%;
  float: left;
  margin-top: 5%;
}
#fast_content {
	width: 100%;
	text-align: center;
	margin-bottom:10%;
}
#social_icon{
	display: none;
}
.jump_link{
	display: none;
}
#right_image {
	width: 70%;
	height: auto;
}
#right_image img {
	width: 100%;
	height: auto;
	margin-top:-60%;
	margin-left:20%;
}
#bottom_image img {
	width: 10%;
	padding:0%;
}
#colum {
	width: 100%;
	margin-left: 1%;
	margin-bottom: 6%;
	text-align: center;
}
#colum img{
	margin-left:30%;
}
#my_image img {
	width: 60%;
	margin-left:20%;
	margin-top:-50%;
}
#about_section h2{
	font-size:59%;
}
#about_section p{
	width: 90%;
	margin-left:7%;
}
#third_left h2{
	width: 100%;
	text-align: center;
	margin-bottom:9%;
	margin-left:3%;
	margin-top:-20%;
}
#right_button button{
	width: 90%;
	margin-left:4%;
	overflow:hidden;
}
#parcentiz_content h1 {
	font-size: 70%;
}
#forth_section h1{
	width: 96%;	
}
#forth_section p{
	width: 90%;
}
#forth_section button{
	display:none;
}
#fiveth_image img{
	width: 100%;
	margin-top:-10%;
}
#fiveth_right{
	width: 100%;
}
#fiveth_right button{
	width: 32%;
}
#sixth_left{
	width: 100%;
}	
#sixth_left button{
	width: 32%;
}
#sixth_image img {
	width: 42%;
	margin-top: -20%;
	margin-left: 60%;
}
#seven_image img{
	display:none;
}
#seven_right {
	width: 80%;
	margin-left: 8%;
	margin-top:-27%;
}
#seven_right button {
  width: 40%;
  margin-left: 72%;
}
#eight_left{
	width: 80%;
	margin-top:-27%;
}
#eight_image img{
	display:none;
}
#section_button{
	width: 100%;
}
#section_button button {
  width: 70%;
  margin-left: 5%;
}
#nine_head{
	width: 70%;
	font-size:70%;
}
#nine_left{
	width: 100%;
	font-size:70%;
}
#nine_rightvideo video{
	width: 100%;
	padding:0%;
}
#contact_page img{
	display:none;
}
#contact_form {
	width: 97%;
	margin-left: 1%;
}
#ten_section button{
	width: 90%;
}
#footer_section img{
	width: 20%;
}
#footer_section p{
	margin-top:5%;
}



	
}
